<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Common Template</title>
</head>
<body>

<div th:fragment="header (selected)">

</div>


<div th:fragment="list">
    <script type="text/javascript" th:src="@{/static/js/list.js}"></script>

    <table class="table table-condensed table-striped" id="listTable">
        <thead>
            <tr>
                <th>Name (Identifier)</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>

    <div id="rowContainer" class="container-fluid">

    </div>

</div>

<div th:fragment="tourEditor">
    <script type="text/javascript" th:src="@{/static/js/edit.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/three.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/mvrs/geom.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/edit.preview.js}"></script>
    <input type="hidden" id="tourIdentifier" th:value="${tourIdentifier}"/>

    <div class="well">

        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-primary" id="save">Save</button>
        </div>

    </div>

    <div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist" id="tabList">
            <li role="presentation" class="active"><a href="#tourInfo" aria-controls="tourInfo" role="tab" data-toggle="tab">Information</a></li>
            <li role="presentation" id="roomEditLink"><a href="#roomEditor" aria-controls="roomEditor" role="tab" data-toggle="tab">Room Editor</a></li>
            <li role="presentation" id="pointEditLink"><a href="#pointEditor" aria-controls="pointEditor" role="tab" data-toggle="tab">Point Editor</a></li>
            <li role="presentation"><a href="#mediaEditor" aria-controls="mediaEditor" role="tab" data-toggle="tab">Images</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="tourInfo">

                <form>
                    <div class="form-group">
                        <label for="tourName">Name</label>
                        <input type="text" class="form-control" id="tourName" placeholder="Name"/>
                    </div>
                </form>

            </div>
            <div role="tabpanel" class="tab-pane" id="roomEditor">

                <div class="panel panel-default" style="margin-top:1em;">
                    <div class="panel-heading">
                        <h3 class="panel-title">Rooms</h3>
                    </div>
                    <div class="panel-body">

                        <table class="table table-condensed table-striped" id="roomTable">
                            <thead>
                            <tr>
                                <th>Name (Identifier)</th>
                                <th>Options</th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>

                        <div class="btn-group" role="group" aria-label="...">
                            <button type="button" class="btn btn-primary" id="newRoom">New Room</button>
                        </div>

                    </div>
                </div>





                <div class="row" style="margin-top:1em;">

                    <div class="col-md-4">

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Room</h3>
                            </div>
                            <div class="panel-body">

                                <div class="form-group">
                                    <label for="roomId">Name</label>
                                    <input type="text" class="form-control" id="roomId" placeholder="Identifier"/>
                                </div>

                                <div class="form-group">
                                    <label for="roomName">Name</label>
                                    <input type="text" class="form-control" id="roomName" placeholder="Name"/>
                                </div>

                                <div class="form-group">
                                    <label for="roomContent">Content</label>
                                    <select class="form-control" id="roomContent"></select>
                                </div>

                                <div class="form-group">
                                    <label for="roomPlaybackType">Playback Type</label>
                                    <select class="form-control" id="roomPlaybackType">
                                        <option value="360">2D 360 (Default)</option>
                                        <option value="360lr">3D 360 Left Right</option>
                                        <option value="360tb">3D 360 Top Bottom</option>
                                        <option value="2d">2D Flat</option>
                                        <option value="lr">3D Flat Left Right</option>
                                        <option value="rl">3D Flat Right left</option>
                                        <option value="tb">3D Flat Top Bottom</option>
                                        <option value="180">2D 180</option>
                                        <option value="180lr">3D 180 Left Right</option>
                                        <option value="180tb">3D 180 Top Bottom</option>
                                        <option value="ffd">2D Front Full Dome</option>
                                        <option value="ffdlr">3D Front Full Dome Left Right</option>
                                        <option value="ffdtb">3D Front Full Dome Top Bottom</option>
                                        <option value="cube">2D Cube</option>
                                        <option value="cubelr">3D Cube Left Right</option>
                                        <option value="cubetb">3D Cube Top Bottom</option>
                                    </select>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="col-md-4">

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">World</h3>
                            </div>
                            <div class="panel-body">

                                <div class="form-group">
                                    <label for="roomRotation">Rotation (Yaw)</label>
                                    <input type="number" class="form-control" id="roomRotation" placeholder="Rotation" min="-180" max="180" step="1"/>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>




                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Points</h3>
                    </div>
                    <div class="panel-body">

                        <table class="table table-condensed table-striped" id="pointTable">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Type</th>
                                <th>Action</th>
                                <th>Options</th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>

                        <div class="btn-group" role="group" aria-label="...">
                            <button type="button" class="btn btn-primary" id="newPoint">New Point</button>

                            <button type="button" class="btn btn-info" id="previewPoints">Preview</button>
                        </div>

                    </div>
                </div>

            </div>

            <div role="tabpanel" class="tab-pane" id="pointEditor">

                <div class="row" style="margin-top:1em;">

                    <div class="col-md-3">

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Information</h3>
                            </div>
                            <div class="panel-body">

                                <div class="form-group">
                                    <label for="pointTitle">Title</label>
                                    <input type="text" class="form-control" id="pointTitle" placeholder="Title"/>
                                </div>

                                <div class="form-group">
                                    <label for="pointType">Type</label>
                                    <select class="form-control" id="pointType">
                                        <option value="rot">Rotation (Default)</option>
                                        <option value="point">Point (Advanced)</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="pointAction">Action</label>
                                    <select class="form-control" id="pointAction">
                                        <option value="nav">Navigate</option>
                                        <option value="stop">Stop Tour</option>
                                        <option value="exit">Exit VR</option>
                                        <option value="noop">No Operation</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="pointTo">To</label>
                                    <select class="form-control" id="pointTo"></select>
                                </div>

                                <div class="form-group">
                                    <label for="pointIcon">Icon</label>
                                    <select class="form-control" id="pointIcon">
                                        <option value="dot">Dot</option>
                                        <option value="eye">Eye</option>
                                        <option value="exit">Exit</option>
                                        <option value="stop">Stop</option>
                                        <option value="up">Up</option>
                                        <option value="down">Down</option>
                                        <option value="left">Left</option>
                                        <option value="right">Right</option>
                                        <option value="previous">Previous</option>
                                        <option value="next">Next</option>
                                        <option value="hidden">Hidden</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="pointRecenter">Recenter</label>
                                    <select class="form-control" id="pointRecenter">
                                        <option value="true">True</option>
                                        <option value="false">False</option>
                                        <option value="apply">Apply</option>
                                    </select>

                                    <div class="well well-sm" style="margin-top:4px;">

                                            True: World will re-center<br/>
                                            False: World will stay the same<br/>
                                            Apply: Point yaw will apply to next room
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="pointSize">Size</label>
                                    <input type="number" class="form-control" id="pointSize" placeholder="Size" min="0.25" max="10" step="0.1"/>
                                </div>


                                <div class="form-group">
                                    <label for="pointTimer" title="Blank or 0 to Ignore.  Enter 1-600 to auto-activate action after X seconds">Timer (Seconds)</label>
                                    <input type="number" class="form-control" id="pointTimer" placeholder="Timer" min="0" max="600" step="1"/>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="col-md-7">

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Preview</h3>
                            </div>
                            <div class="panel-body" id="previewPanel" style="height:480px;margin:0;padding:0;">


                            </div>
                        </div>

                    </div>

                    <div class="col-md-2">

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Placement</h3>
                            </div>
                            <div class="panel-body">



                                <div class="form-group rot-based">
                                    <label for="pointRotY">Yaw</label>
                                    <input type="number" class="form-control rotBased" id="pointRotY" placeholder="Yaw" min="-180" max="180" step="0.1"/>
                                </div>

                                <div class="form-group rot-based">
                                    <label for="pointRotP">Pitch</label>
                                    <input type="number" class="form-control rotBased" id="pointRotP" placeholder="Pitch" min="-90" max="90" step="0.1"/>
                                </div>

                                <div class="form-group rot-based">
                                    <label for="pointRotD">Depth</label>
                                    <input type="number" class="form-control rotBased" id="pointRotD" placeholder="Depth" min="1.5" max="10" step="0.1"/>
                                </div>



                                <div class="form-group point-based">
                                    <label for="pointX">X</label>
                                    <input type="number" class="form-control rotBased" id="pointX" placeholder="X" min="-50" max="50" step="0.1"/>
                                </div>

                                <div class="form-group point-based">
                                    <label for="pointY">Y</label>
                                    <input type="number" class="form-control rotBased" id="pointY" placeholder="Y" min="-50" max="50" step="0.1"/>
                                </div>

                                <div class="form-group point-based">
                                    <label for="pointZ">Z</label>
                                    <input type="number" class="form-control rotBased" id="pointZ" placeholder="Z" min="-50" max="50" step="0.1"/>
                                </div>

                                <div class="form-group point-based">
                                    <label for="pointXrot">X Rotation</label>
                                    <input type="number" class="form-control rotBased" id="pointXrot" placeholder="X Rotation" min="-180" max="180" step="0.1"/>
                                </div>

                                <div class="form-group point-based">
                                    <label for="pointYrot">Y Rotation</label>
                                    <input type="number" class="form-control rotBased" id="pointYrot" placeholder="Y Rotation" min="-180" max="180" step="0.1"/>
                                </div>

                                <div class="form-group point-based">
                                    <label for="pointZrot">Z Rotation</label>
                                    <input type="number" class="form-control rotBased" id="pointZrot" placeholder="Z Rotation" min="-180" max="180" step="0.1"/>
                                </div>



                            </div>
                        </div>

                    </div>

                </div>



            </div>

            <div role="tabpanel" class="tab-pane" id="mediaEditor">

                <table class="table table-condensed table-striped" id="mediaTable">
                    <thead>
                    <tr>
                        <th>File Name</th>
                        <th>Display</th>
                        <th>Preview</th>
                        <th>Options</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function(){
            MG.edit.start($('#tourIdentifier').val());

            new MG.preview.Preview({container:$('#previewPanel')});

            $('#tabList a[href="#pointEditor"]').on('shown.bs.tab', function(){
                MG.preview.instance.onWindowResize();
                MG.preview.instance.prep();
                MG.preview.instance.points(MG.edit.currentRoom, MG.edit.currentPoint);
                MG.preview.instance.changeBackground(MG.edit.currentRoom, MG.edit.getBackgroundUrl());
                MG.preview.instance.update();
            });

            $('#tabList a[href="#roomEditor"]').on('shown.bs.tab', function(){
                MG.edit.updateRoomList();
                MG.edit.updatePointList();
            });
        });
    </script>
</div>

<div th:fragment="create">
    <script type="text/javascript" th:src="@{/static/js/create.js}"></script>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Point</h3>
        </div>
        <div class="panel-body">

            <div class="form-group">
                <label for="tourTitle">Title</label>
                <input type="text" class="form-control" id="tourTitle" placeholder="Name"/>
            </div>

            <div class="alert alert-info" role="alert">The identifier is only used to generate the folder, which will be hidden by the title</div>

            <div class="form-group">
                <label for="tourId">Identifier</label>
                <input type="text" class="form-control" id="tourId" placeholder="Unique Identifier"/>
            </div>

            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-primary" onclick="MG.create.save()">Save</button>
                <button type="button" class="btn btn-warning" onclick="MG.create.clear()">Clear</button>
            </div>

        </div>
    </div>

</div>

</body>
</html>